/*
 * GLOBAL STYLE SHEET
*/

body {
  background-image: url("/img/bg.png");
}
.container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.full-width {

  max-width: 1400px;

}



.footer {

  background-color: #333333;

  padding: 2rem 4rem;

  text-align: center;

  color: #fff;
  
  min-height: 100px;

}

.footer i {

  font-size: 100px;

}



.footer h4 {

  color: #fff;

  font-size: 1em;

  font-weight: 400;

  text-transform: uppercase;

  margin-top: 2.5rem;

  margin-bottom: 10px;

}

.footer p, .footer a {

  font-weight: 300;

  font-size: .8em;

  color: #fff;

}



@media only screen and (min-width: 40.063em) {

  .footer .columns:nth-child(n+2) {

    border-left: 1px solid #b3b3b3;

    min-height: 280px;

  }

}

.footer-links {

  list-style-type: none;

}

.footer-links li {

  margin-top: .5em;

}

.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}
